@import "../../ui/text";
@import "../../ui/vars";

.callWrap {
  display: grid;
  grid-template-columns: 326px 692px;
  justify-content: space-between;
  padding-bottom: 64px;
  margin-bottom: 64px;
  border-bottom: 2px solid $orangeYellow;
}
.title {
  @extend .text40;
  display: block;
  margin-left: 8px;
  font-weight: 700;
  color: $orangeYellow;
}
.text {
  display: block;
  @extend .text16;
  color: $darkText;

  &Mb {
    margin-top: 16px;
  }
}
.phonesWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 42px;
}